<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="vendor/autoload.php"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    cacheDirectory=".phpunit.cache"
>
    <coverage>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/logs/browser.html"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="Access">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <logging/>

    <source
        restrictWarnings="true"
        restrictNotices="true"
        restrictDeprecations="true"
    >
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
