<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="vendor/autoload.php"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    cacheDirectory=".phpunit.cache"
>
    <coverage>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/logs/browser.html"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="mysql">
            <directory>tests/mysql</directory>
        </testsuite>

        <testsuite name="sqlite">
            <directory>tests/sqlite</directory>
        </testsuite>

        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- database credentials for mysql test -->
        <env name="MYSQL_DATABASE_HOST" value="127.0.0.1"/>
        <env name="MYSQL_DATABASE_PORT" value="3306"/>
        <env name="MYSQL_DATABASE_USER" value="root"/>
        <env name="MYSQL_DATABASE_PASSWORD" value="mysql"/>
        <env name="MYSQL_DATABASE_NAME" value="access_test_db"/>
    </php>

    <logging/>

    <source
        restrictWarnings="true"
        restrictNotices="true"
        restrictDeprecations="true"
    >
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
